@import "../variables.scss";
@import "../mixins/media";

.about-company {
  max-width: 1165px;
  margin: 0 auto 110px;
  color: $principal-text-color;
  box-sizing: border-box;

  @include media-tablet {
    margin: 0 25px 83px;
  }

  @include media-mobile {
    margin: 0 17px 65px 15px;
  }

  &--year {
    position: relative;
    padding-left: 180px;

    @include media-tablet {
      padding-left: 185px;
    }

    @include media-mobile {
      padding-left: 0;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      width: 156px;
      height: 328px;
      background: url("./img/2005-desktop@1x.png") 50% 50% no-repeat;

      @include retina-size {
        background: url("./img/2005-desktop@2x.png") 50% 50% / 220px 317px no-repeat;
      }

      @include media-tablet {
        width: 194px;
        height: 359px;
        background: url("./img/2005-tablet@1x.png") 50% 50% no-repeat;

        @include retina-size {
          background: url("./img/2005-tablet@2x.png") 50% 50% / 244px 362px no-repeat;
        }
      }

      @include media-mobile {
        display: none;
      }
    }
  }

  h2 {
    margin-bottom: 21px;
    font-family: $accent-font;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;

    @include media-tablet {
      margin: 29px 0 25px;
      font-size: 32px;
      line-height: 45px;
    }

    @include media-mobile {
      margin: 12px 0 22px;
      font-size: 28px;
      line-height: 39px;
    }
  }

  p {
    max-height: 87px;
    margin: 0 0 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media-mobile {
      max-height: 175px;
      margin: 0 0 40px;
    }
  }
}

.about-company__button {
  display: inline-block;
  vertical-align: top;
  min-width: 178px;
  margin: 15px 0 0;
  padding: 12px;
  color: $accent-color;
  font-size: 14px;
  background: $basic-white;

  @include media-tablet {
    margin-top: 18px;
  }

  @include media-mobile {
    margin-top: -11px;
  }

  &:hover {
    color: $basic-white;
    background-color: $accent-color;
    border: 1px solid $basic-white;
  }

  &:focus {
    opacity: 1;
    color: $basic-white;
    background-color: $accent-color;
    border-radius: 5px;
  }
}
