@import "../variables.scss";
@import "../mixins/media";

.about-company {
  max-width: 1153px;
  margin: 0 auto 110px;
  color: $principal-text-color;
  box-sizing: border-box;

  &--year {
    position: relative;
    padding-left: 183px;

    @include media-mobile {
      padding-left: 0;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      width: 168px;
      height: 328px;
      background: url("../../img/2005@1x.png") 50% 50% no-repeat;

      @include retina-size {
        background: url("../../img/2005@2x.png") 50% 50% / 220px 317px no-repeat;
      }

      @include media-mobile {
        display: none;
      }
    }
  }

  h2 {
    margin-bottom: 21px;
    font-family: $accent-font;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;

    @include media-tablet {
      font-size: 32px;
      line-height: 45px;
    }
  }

  p {
    margin: 0 0 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
}

.about-company__button {
  display: inline-block;
  vertical-align: top;
  color: $accent-color;
  background: $basic-white;

  &:hover {
    color: $basic-white;
    background-color: $accent-color;
    border: 1px solid $basic-white;
  }

  &:focus {
    opacity: 1;
    color: $basic-white;
    background-color: $accent-color;
    border-radius: 5px;
  }
}
