@import "../variables.scss";
@import "../mixins/media";

.button {
  margin: 0;
  padding: 17px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: $basic-white;
  background: $accent-color;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  font-family: $accent-font;
  border: 1px solid $accent-color;
  border-radius: 5px;
  box-sizing: border-box;

  &:hover {
    color: $accent-color;
    background-color: $basic-white;
    border: 1px solid $accent-color;
  }

  &:focus {
    opacity: 1;
    color: $accent-color;
    background-color: $basic-white;
    border-radius: 5px;
  }
}
