@import "../variables.scss";
@import "../mixins/media";

.feedback {
  position: relative;
  color: $basic-white;
  background: $accent-color url("data:image/svg+xml,%3Csvg width='1724' height='650' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.2' d='M605.842 57.584l-274.675 475.75L56.492 57.584h549.35z' stroke='%23fff'/%3E%3Cpath opacity='.2' d='M326.148 255.75L165.5 534 4.852 255.75h321.296zM1800.26 407.5l-278.25 160.648V246.852L1800.26 407.5zM1447.91 153.136L1622.25 52.48v201.313l-174.34-100.657z' stroke='%23fff'/%3E%3Ccircle cx='56' cy='57' r='5' fill='%23fff'/%3E%3Ccircle cx='5' cy='256' r='5' fill='%23fff'/%3E%3Ccircle cx='166' cy='534' r='5' fill='%23fff'/%3E%3Ccircle cx='331' cy='533' r='5' fill='%23fff'/%3E%3Ccircle cx='606' cy='57' r='5' fill='%23fff'/%3E%3C/svg%3E") calc(50% + 100px) 40px no-repeat;
  overflow: hidden;

  @include media-tablet {
    background: $accent-color;
  }

  picture {
    position: absolute;
    top: 160px;
    right: 1050px;
    z-index: 0;

    @include media-tablet {
      display: none;
    }
  }
}

.feedback__form {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  max-width: 1346px;
  margin: 0 auto;
  padding: 60px 87px 70px calc(50% - 263px);
  box-sizing: border-box;


  @include media-tablet {
    padding: 79px 87px 66px 92px;
  }

  @include media-mobile {
    padding: 30px 15px 10px;
  }
}
