@import "../variables.scss";
@import "../mixins/media.scss";

.footer-nav {
  max-width: 1435px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.4fr 1.1fr;
  color: $footer-text-color;
  column-gap: 80px;
  margin: 32px 0 55px;

  @include media-tablet {
    grid-template-columns: 1fr 1fr;
    margin: 0 24px;
    column-gap: 30px;
  }
}

.footer-nav__item {
  display: grid;
  column-gap: 70px;
  row-gap: 1px;
  justify-self: center;

  h3 {
    grid-column-start: 1;
    grid-column-end: -1;
    margin: 0 0 24px;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: $accent-font
  }

  &--social {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
    padding-left: 23px;

    @include media-tablet {
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 1;
      grid-row-end: 2;
      grid-template-columns: minmax(234px, 1fr) 1fr 1fr;
      margin-bottom: 56px;
      align-items: center;

      :last-child {
        justify-self: end;
      }
    }
  }

  &--sections {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns:1fr 1fr;
    justify-self: center;

    @include media-tablet {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-template-columns:1fr;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin-top: -38px;
        border-top: 1px solid $footer-info-border-color;
      }
    }
  }

  &--contacts {
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;

    @include media-tablet {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
}

.footer-nav__menu {
  display: grid;
  column-gap: 70px;
  align-content: start;

  a {
    color: $footer-text-color;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;

    &:hover {
      color: $accent-color;
    }

    &:focus {
      outline: 2px solid;
      opacity: 1;
      color: $accent-color;
    }
  }
}

.footer-nav__copyright {
  display: none;

  @include media-tablet {
    display: block;
    align-self: center;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    white-space: nowrap;

  }
}

.footer-logo {
  font-size: 0;
  line-height: 0;
  margin-bottom: 44px;
}

.social {
  display: grid;
  grid-template-columns: repeat(auto-fill,27px);
  grid-template-rows: repeat(auto-fill,27px);
  grid-auto-flow: column;
  gap: 16px;

  @include media-tablet {
    margin-top: -10px;
  }
}

.footer-info {
  display: grid;
  grid-template-columns: 0.6fr 1fr 1.2fr 1fr;

  text-transform: uppercase;
  justify-content: start;
  padding: 19px 24px 14px;
  color: $footer-text-color;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -15px;
    border-top: 1px solid $footer-info-border-color;

    @include media-tablet {
      margin-top: -23px;
    }
  }

  :last-child {
    justify-self: end;
  }

  @include media-tablet {
    grid-template-columns: 1fr 1fr;
    margin: 0 24px;
    padding: 60px 0 23px;
  }
}

.footer-info__item {
  color: $footer-text-color;
  text-decoration: none;

  &:hover {
    color: $accent-color;
  }

  &:focus {
    outline: 2px solid;
    opacity: 1;
    color: $accent-color;
  }

  &--rights-protected {
    @include media-tablet {
      display: none;
    }
  }

  &--copyright {
    @include media-tablet {
      display: none;
    }
  }
}
