@import "../variables.scss";
@import "../mixins/media";

.form {
  display: flex;
  flex-direction: column;

  h2 {
    font-family: $accent-font;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;

    @include media-tablet {
      font-size: 32px;
      line-height: 45px;
    }

    @include media-mobile {
      font-size: 28px;
      line-height: 39px;
    }
  }

  p {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }

  button {
    border-color: $basic-white;
    max-width: 280px;
    width: 100%;

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.form__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}


