@import "../variables.scss";
@import "../mixins/media";

.form {
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 10px;
    font-family: $accent-font;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;

    @include media-tablet {
      font-size: 32px;
      line-height: 45px;
    }

    @include media-mobile {
      font-size: 28px;
      line-height: 39px;
    }
  }

  p {
    margin: 0 0 52px 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }

  button {
    max-width: 280px;
    width: 100%;
    font-size: 14px;
    padding: 12px 0;
    border-color: $basic-white;

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &--modal {
    h2 {
      font-size: 28px;
      line-height: 39px;
    }

    p {
      margin: 0 0 33px 0;
    }

    button {
      max-width: 403px;
      margin-bottom: 35px;
    }
  }
}

.form__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 40px;

  @include media-mobile {
    grid-template-columns: 1fr;
    margin-bottom: 30px;
  }
}
