@import "../variables.scss";
@import "../mixins/media";

.form-textarea {
  margin-bottom: 40px;

  @include media-mobile {
    margin-bottom: 25px;
  }

  textarea {
    min-height: 154px;
    padding: 14px 16px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    background: $form-input-background-color;
    color: $basic-white;
    border: none;
    box-sizing: border-box;

    @include media-tablet {
      min-height: 160px;
    }

    @include media-mobile {
      min-height: 105px;
    }

    &::placeholder {
      color: $basic-white;
    }

    &:hover {
      padding: 12px 14px;
      border: 2px solid $basic-white;
    }

    &:active {
      padding: 12px 14px;
      border: 2px solid $basic-white;
    }

    &:focus {
      color: $basic-white;
      outline: 2px solid;
    }
  }

  &--modal {
    margin-bottom: 23px;

    textarea {
      min-height: 105px;
    }
  }
}
