@import "../variables.scss";
@import "../mixins/media";

.intro {
  position: relative;
  background: $intro-background-color url("../img/background-intro.png") 50% 50% / cover no-repeat;
  overflow: hidden;

  picture {
    position: absolute;
    top: calc(50% - 180px);
    left: calc(50% + 78px);
    z-index: 0;

    @include media-tablet {
      right: 0;
      left: auto;
      top: 114px;
    }

    @include media-mobile {
      top: 92px;
    }

    img {
      display: block;

      @include media-tablet {
        width: 260px;
        height: 340px;
      }

      @include media-mobile {
        width: 294px;
        height: 220px;
      }
    }

    &::before {
      position: absolute;
      z-index: -1;
      content: "";
      top: 0;
      left: 0;
      width: 611px;
      height: 487px;
      margin: 14px 0 0 13px;
      background: url("data:image/svg+xml,%3Csvg width='611' height='487' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.2' d='M605.842 5.584l-274.675 475.75L56.492 5.584h549.35z' stroke='%23fff'/%3E%3Cpath opacity='.2' d='M326.148 203.75L165.5 482 4.852 203.75h321.296z' stroke='%23fff'/%3E%3Ccircle cx='56' cy='5' r='5' fill='%23fff'/%3E%3Ccircle cx='5' cy='204' r='5' fill='%23fff'/%3E%3Ccircle cx='166' cy='482' r='5' fill='%23fff'/%3E%3Ccircle cx='331' cy='481' r='5' fill='%23fff'/%3E%3Ccircle cx='606' cy='5' r='5' fill='%23fff'/%3E%3C/svg%3E") 50% 50% no-repeat;

      @include media-tablet {
        width: 314px;
        height: 385px;
        margin: -33px 0 0 -54px;
        background: url("data:image/svg+xml,%3Csvg width='314' height='385' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.2' d='M478.359 5.428L261.928 380.296 45.498 5.428h432.861z' stroke='%23fff'/%3E%3Cpath opacity='.2' d='M257.787 161.705L131.28 380.821 4.774 161.705h253.013z' stroke='%23fff'/%3E%3Ccircle cx='44.927' cy='4.862' r='3.943' fill='%23fff'/%3E%3Ccircle cx='4.707' cy='161.797' r='3.943' fill='%23fff'/%3E%3Ccircle cx='131.675' cy='381.032' r='3.943' fill='%23fff'/%3E%3Ccircle cx='261.797' cy='380.244' r='3.943' fill='%23fff'/%3E%3C/svg%3E") 50% 50% no-repeat;
      }

      @include media-mobile {
        width: 153px;
        height: 368px;
        margin: -22px 0 0 141px;
        background: url("data:image/svg+xml,%3Csvg width='153' height='368' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.2' d='M456.852 5.235L250.129 363.29 43.406 5.235h413.446z' stroke='%23fff'/%3E%3Cpath opacity='.2' d='M246.133 154.531l-120.816 209.26L4.501 154.531h241.632z' stroke='%23fff'/%3E%3Ccircle cx='42.821' cy='4.672' r='3.767' fill='%23fff'/%3E%3Ccircle cx='4.399' cy='154.596' r='3.767' fill='%23fff'/%3E%3Ccircle cx='125.694' cy='364.038' r='3.767' fill='%23fff'/%3E%3C/svg%3E") 50% 50% no-repeat;
      }
    }
  }
}

.intro__inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  max-width: 1480px;
  margin: 0 auto;
  padding: 249px 0 275px;
  color: $basic-white;

  @include media-tablet {
    padding: 121px 0 163px;
  }

  @include media-mobile {
    padding: 252px 4px 70px;
  }

  h1 {
    margin: 67px 0 5px;
    padding-left: 30px;
    font-family: $accent-font;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    @include media-tablet {
      max-width: 530px;
      width: 100%;
      padding-left: 88px;
      font-size: 60px;
      line-height: 70px;
    }

    @include media-mobile {
      max-width: 290px;
      margin-top: 33px;
      padding-left: 11px;
      font-style: normal;
      font-size: 40px;
      line-height: 47px;
    }
  }

  p {
    position: relative;
    max-width: 620px;
    width: 100%;
    margin: 22px 0 44px 128px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;

    @include media-tablet {
      max-width: 450px;
      margin: 22px 0 57px 139px;
      font-size: 18px;
      line-height: 28px;
    }

    @include media-mobile {
      max-width: 240px;
      margin: 22px 0 41px 66px;
      font-size: 16px;
      line-height: 25px;
    }

    &::before {
      content: "";
      position: absolute;
      left: -94px;
      top: 17px;
      width: 66px;
      border-top: 2px solid $basic-white;

      @include media-tablet {
        left: -48px;
        width: 32px;
      }
    }
  }
}

.intro__button {
  max-width: 407px;
  margin-left: 128px;

  &--mobile {
    display: none;
  }

  @include media-tablet {
    max-width: 379px;
    margin-left: 139px;
  }

  @include media-mobile {
    max-width: 287px;
    margin-left: 14px;

    &--general {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}

.intro__scroll {
  position: absolute;
  bottom: 126px;
  left: -4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $basic-white;
  opacity: 0.5;
  transform: rotate(-90deg);
  text-decoration: none;

  &:hover {
    color: $accent-color;
  }

  &:focus {
    color: $accent-color;
    border: 2px solid  $accent-color;
  }

  @include media-tablet {
    display: none;
  }
}
