@import "../variables.scss";
@import "../mixins/media.scss";

.modal {
  position: fixed;
  z-index: -100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.is--visible {
    $modalVisible: & !global;
    z-index: 100;
  }
}

.modal__inner {
  position: relative;
  margin: 0 auto;
  padding: 8px 44px 20px;
  width: 403px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateY(136px);
  opacity: 0;
  transition: opacity 100ms linear;
  color: $basic-white;
  background: $accent-color;


  #{$modalVisible} & {
    opacity: 1;
  }
}

.modal__blackout {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 50ms linear;

  &.is-blacked-out {
    opacity: 1;
  }
}


.modal__button-close {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  outline: 0;
  color: $basic-white;
}
