@import "variables.scss";
@import "./mixins/media";

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: $general-font;
  font-size: 16px;
  line-height: 22px;
  background: $principal-background-color;
}

.layout__header {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
}

.layout__main {
  flex-grow: 1;
  margin-top: -120px;
}

.layout__footer {
  max-width: 1465px;
  width: 100%;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
