$accent-color: #00b2ff;
$basic-white: #ffffff;
$basic-dark: #000000;

$general-font: "PT Mono", "Arial", sans-serif;
$accent-font: "Roboto Condensed", "Arial", sans-serif;

$principal-background-color: #fafafa;
$footer-title-color: #1b2d37;
$footer-text-color: rgba(27, 45, 55, 0.5);
$footer-icon-color: #cdcdcd;
$footer-info-border-color: #dcdddc;
