$accent-color:  #00b2ff;
$basic-white: #ffffff;
$basic-dark: #000000;

$general-font: "PT Mono", "Arial", sans-serif;
$accent-font:"Roboto Condensed", "Arial", sans-serif;

$principal-background-color: #e5e5e5;
$footer-text-color: #1b2d37;

