$accent-color: #00b2ff;
$basic-white: #ffffff;
$basic-dark: #000000;

$general-font: "PT Mono", "Arial", sans-serif;
$accent-font: "Roboto Condensed", "Arial", sans-serif;

$intro-background-color: #1b2d37;

$property-item-border-color: #ebebeb;

$principal-text-color: #666666;

$goods-services-background-color: #1b2d37;

$form-input-background-color: rgba(255, 255, 255, 0.1);

$principal-background-color: #fafafa;
$footer-title-color: #1b2d37;
$footer-text-color: rgba(27, 45, 55, 0.5);
$footer-icon-color: #cdcdcd;
$footer-info-border-color: #dcdddc;
